%section.content-header
  %h1
    Colunistas  
    %small Control panel
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li.active Colunistas


/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo Colunista", new_admin_columnist_path, :class => "btn btn-primary"
    
    .box.a
      .box-header
        %h3.box-title Colunistas
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th ID
            %th=t("activerecord.attributes.admin_columnist.name")
            %th=t("activerecord.attributes.admin_columnist.description")
            %th=t("activerecord.attributes.admin_columnist.published")
            %th Ações
          - for admin_columnist in @admin_columnists
            %tr
              %td= admin_columnist.id
              %td= admin_columnist.name
              %td= admin_columnist.description
              %td= admin_columnist.published
              %td 
                = link_to "Show", [admin_columnist], :class => "btn btn-default"
                = link_to "Edit", edit_admin_columnist_path(admin_columnist), :class => "btn btn-default"
                = link_to "Artigos", admin_columnist_articles_path(admin_columnist), :class => "btn btn-primary"
                = link_to "Destroy", [admin_columnist], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-default"

    %p= link_to "Novo Colunistas", new_admin_columnist_path, :class => "btn btn-primary"