%section.content-header
  %h1
    Colunistas  
    %small Control panel
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li.active Colunistas
     

/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title="#{@admin_columnist.name}"
        
        .box-body  
          %p Descrição
          %p 
            = @admin_columnist.description
            
          %p Publicado?
          %p 
            = @admin_columnist.published

        - if @admin_columnist.admin_columnists.file?
          .box-body
            %p Imagem pequena
            %p=image_tag(@admin_columnist.admin_columnists.url(:small))
            
            %p Imagem média
            %p=image_tag(@admin_columnist.admin_columnists.url(:medium))
            
            
            %p Imagem Original
            %p=image_tag(@admin_columnist.admin_columnists.url)

  = link_to "Edit", edit_admin_columnist_path(@admin_columnist), :class => "btn btn-default"
  = link_to "View All", admin_columnists_path, :class => "btn btn-default"