.row.news_interacao
  .col-md-4
    %p
      %i.fa.fa-commenting-o{"aria-hidden" => "true"}
      %span{:id => "total_comments#{feed.id}"}=total_comments 
      =" #{total_comments > 1 ? "comentários" : "comentário"}" 
    
    = form_for [@like], remote: true, html:{id: "new_like_#{feed.id}" , role: "form"}  do |f|
      =f.hidden_field :feed_id, value: feed.id
      %button.btn.btn-especialidade{:type => "submit", :id => "btn-like#{feed.id}"}
        %i.fa.fa-heart{"aria-hidden" => "true"}
        - if liked
          GOSTEI
        -else
          DESFAZER
    
  .col-md-8
    %p
      %i.fa.fa-heart{"aria-hidden" => "true"}
      %span{:id => "total_likes#{feed.id}"}=total_likes 
      =" #{total_likes > 1 ? "pessoas gostaram deste artigo" : "pessoa gostou deste artigo"}"

%div{:id => "comentarios-wrapper#{feed.id}"}
  -comments.each do |c|
    .row.news_comentario{:id => "comentario_#{c.id}"}
      .col-md-2
        -if c.user.picture.file?
          %a{:href => "#"}
            =image_tag(c.user.picture.url(:small))
        -else
          =image_tag("user_missing_small.png")
      .col-md-10
        %h2="#{c.user.name} #{c.user.last_name}"
        %p=c.comment
        
        -if current_user.id == c.user.id
          /EXCLUIR
          =link_to("excluir comentário", deletar_comment_path(c), :remote => :true)
        
        
.row.news_campo_comentario{:id => "form-comment#{feed.id}"}
  .col-md-2
    -if current_user.picture.file?
      %a{:href => "#"}
        =image_tag(current_user.picture.url(:small))
    -else
      =image_tag("user_missing_small.png")
  .col-md-10
    = form_for [@comment], remote: true, html:{id: "new_comment_#{feed.id}" , role: "form"} do |f|
      =f.text_area :comment
      =f.hidden_field :feed_id, value: feed.id
      %br/
      =f.submit "comentar"