%section.content-header
  %h1
    Artigos
    = "#{@columnist.name}"
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Home
    %li
      %a{:href => "#{admin_columnists_path()}"}
        %i.fa.fa-dashboard
        Colunistas
    %li.active Artigos
     

/ Main content
%section.content   
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title="#{@article.title}"
        
        .box-body  
          %p
            %b= "#{t("activerecord.attributes.article.subtitle")}: "
            = @article.subtitle   
        .box-body  
          %p
            %b= "#{t("activerecord.attributes.article.description")}:"
            %br
            = raw @article.description   
        .box-body  
          %p
            %b= "#{t("activerecord.attributes.article.order")}: "
            = @article.ordem   
        .box-body  
          %p
            %b= "#{t("activerecord.attributes.article.tag_list")}: "
            = @article.tag_list
        .box-body  
          %p
            %b= "#{t("activerecord.attributes.article.published")}: "
            = @article.published
        - if @article.image_article.file?
          .box-body
            %p=image_tag(@article.image_article.url)

  = link_to t("back_list"), admin_columnist_articles_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_columnist_article_path(@columnist, @article), :class => "btn btn-default" 
  = link_to "Novo Artigo", new_admin_columnist_article_path, :class => "btn btn-primary"