%section.content-header
  %h1
    Portfolio
    = "#{@admin_enterprise.name}"
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Home
    %li
      %a{:href => "#{admin_columnists_path()}"}
        %i.fa.fa-dashboard
        Empresas
    %li.active Portfolios
     

/ Main content
%section.content   
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title="#{@portfolio.title}"
          
        .box-body  
          %p
            %b= "#{t("activerecord.attributes.portfolio.order")}: "
            = @portfolio.ordem   
        .box-body  
          %p
            %b= "#{t("activerecord.attributes.portfolio.published")}: "
            = @portfolio.published
        - if @portfolio.portfolio_img.file?
          .box-body
            %p=image_tag(@portfolio.portfolio_img.url)

  = link_to t("back_list"), admin_enterprise_portfolios_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_enterprise_portfolio_path(@admin_enterprise, @portfolio), :class => "btn btn-default" 
  = link_to "Novo Portfólio", new_admin_enterprise_portfolio_path, :class => "btn btn-primary"