%section.content-header
  %h1
    Banners  
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home
    %li.active Banners
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo Banner", new_admin_highlight_path, :class => "btn btn-primary"
    
    .box
      .box-header
        %h3.box-title Banners Cadastrados
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.admin_highlight.id")
            %th=t("activerecord.attributes.admin_highlight.title")
            %th=t("activerecord.attributes.admin_highlight.published") 
            %th=t("actions")
          - for highlight in @admin_highlights 
            %tr
              %td= highlight.id
              %td= highlight.title
              %td= highlight.published               
              %td 
                = link_to t("show"), highlight, :class => "btn btn-default"
                = link_to t("edit"), edit_admin_highlight_path(highlight), :class => "btn btn-default"
                = link_to t("destroy"), highlight, :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => "btn btn-default"

    %p= link_to "Novo Banner", new_admin_highlight_path, :class => "btn btn-primary"