%section
  .container-fluid.top-bar
    .container
      .row
        .col-md-6.logo
          %a{:href => "#"}
            %img{:src => "assets/logo.png"}/
        .col-md-6.form-login
          = form_for @user_session do |f|
            = f.text_field :email, :placeholder => "E-mail", :class => "input-login col-md-4"
            = f.password_field :password, :placeholder => "Senha", :class => "input-login col-md-4"
            %input.btn-login.col-md-3{:type => "submit", :value => "ENTRAR"}/
  .container.home-block-01
    .row
      .col-md-6
        %img{:src => "assets/tree-home.png"}/
      .col-md-6
        .form-home-cadastro
          = form_for [@user] do |f|
            %label NOME
            %br/
            .col-md-12
              = f.text_field :name, class: "input-cadastro form-control"
            %br/
            %label SOBRENOME
            %br/
            .col-md-12
              = f.text_field :last_name, class: "input-cadastro form-control"
            %br/
            %label E-MAIL
            %br/
            .col-md-12
              = f.text_field :email, class: "input-cadastro form-control"
            %br/
            / %label TELEFONE
            / %br/
            / .col-md-12
            /   = f.text_field :name, class: "input-cadastro form-control"
            / %br
            %label SENHA
            %br
            .col-md-12
              = f.password_field :password, class: "input-cadastro form-control"
            %br
            %label CONFIRME SUA SENHA
            %br
            .col-md-12
              = f.password_field :password_confirmation, class: "input-cadastro form-control"
            %br/
            %br/
            %p Ao clicar em Cadastre-se agora, você aceita o Contrato do Usuário, a Política de Privacidade e a Política de Cookies do Training Society.
            %br
            .col-md-offset-2.col-md-8
              %button{type: "submit", class: "btn-form btn-cadastrar"} CADASTRE-SE AGORA
            %br
            %br
            .col-md-offset-2.col-md-8
              %button{type: "button", class: "btn-form btn-linkedin"} 
                %i.fa.fa-linkedin
                Conectar com Linkedin
            %br
            %br
            .col-md-offset-2.col-md-8
              %button{type: "button", class: "btn-form btn-facebook"} 
                %i.fa.fa-facebook
                Conectar com Facebook
            %br
            %br
            %br
  .container-fluid.home-block-02
    .container.home-block-02-background
      .row
        .col-md-6
          %h1
            O que você encontra no
            %br>/
            Training Society?
          .row.item-home
            %img.icon-home{:src => "assets/ico-home01.png"}/
            %h2 Artigos
            %p Training Society apóia o intercâmbio de informações, disponibilizamos conteúdos  relevantes para os profissionais que treinam e desenvolvem pessoas. Como membro, você pode participar e publicar seu artigo.
          .row.item-home
            %img.icon-home{:src => "assets/ico-home02.png"}/
            %h2 dIREtÓRIO de Empresas
            %p Encontre aqui a Empresa ou o Treinamento que procura. Tempo é dinheiro, você não precisa gastar  tempo procurarando um programa de treinamento na internet. No nosso Diretório de Empresas é facil, rápido e as empresas são avalidas pelos usuários.
          .row.item-home
            %img.icon-home{:src => "assets/ico-home03.png"}/
            %h2 WEBInars e eventos
            %p Disponibilizamos Webinars e Eventos com principais palestrantes e formadores de opinião da indústria do conhecimento. Como membro, você receberá dicas, recursos e soluções com o propósito de te dar suporte no desenvolvimento de pessoas na sua empresa.
  .container-fluid.home-block-03
    .container
      .row
        .col-md-6
          %img.img-home-block03{:src => "assets/img-home-block03.png"}/
        .col-md-6
          %h1
            Training Society
            %br>/
            para empresas
          .row.item-home
            %img.icon-home-02{:src => "assets/ico-home01-02.png"}/
            %h2 Cadastre sua Empresa
            %p Não há nenhum custo para divulgar sua empresa em nosso site e ficar visível para  nossa comunidade de membros. Se você é um pofissional ou empresa que atua na área de desenvolvimento de pessoas nas organzações, cadastre-se como membro e emseguida cadastre sua empresa.
          .row.item-home
            %img.icon-home-02{:src => "assets/ico-home02-02.png"}/
            %h2 Divulgue suas Tecnologias
            %p O Training Society disponibiliza uma plataforma para que profissionais e empresas produtoras de conhecimento, possam compartilhar o que é tendência na área de desenvolvimento de pessoas e divulgar novos produtos e tecnologias para um público segmentado.
          .row.item-home
            %img.icon-home-02{:src => "assets/ico-home03-02.png"}/
            %h2 WEBInars e eventos
            %p As empresas cadastradas no Training Society são convidadas a participar em nossos webnars e eventos dirigidos aos nossos membros, que em sua maioria, são os decisores na contratação de programas de treinamento.
  .container-fluid.home-block-04
    .container
      .row
        %h1 JÁ estão no training society
      .row
        %img{:src => "assets/logo-parceiro.jpg"}/
        %img{:src => "assets/logo-parceiro.jpg"}/
        %img{:src => "assets/logo-parceiro.jpg"}/
        %img{:src => "assets/logo-parceiro.jpg"}/
        %img{:src => "assets/logo-parceiro.jpg"}/
  .container-fluid.home-block-05
    .container
      .row
        .col-md-5
          %p Training Society 2016 - Todo diretos reservados
        .col-md-7
          %ul
            %li
              %a{:href => "#"} TERMOS DE USO
            %li
              %a{:href => "#"} POLÍTICA DE PRIVACIDADE
            %li
              %a{:href => "#"} TRAINING SOCIETY PARA EMPRESAS