-content_for :head do
  = stylesheet_link_tag "perfil.css"

.container-fluid.top_perfil
  .container
    .row
      .col-md-12.perfil
        .col-md-3.avatar-perfil
          -if @empresa.img_enterprise.file?
            %a{:href => "#"}
              =image_tag(@empresa.img_enterprise.url(:medium))
          -else
            =image_tag("user_missing_medium.png")
            
        .col-md-9
          .row
            %h2=@empresa.name
            %p
              ="#{@empresa.address}, #{@empresa.number} - #{@empresa.city} / #{@empresa.state}"
            %p="#{@empresa.phone}"
            %p="#{@empresa.email}"
            %p="#{@empresa.site}"
          /.row
          /  %a{:href => "#{edit_user_path(current_user.id)}"}
          /    %img{:src => "/assets/btn-editar-perfil.png"}/

.container-fluid.info_empresas
  .container
    .row
      .col-md-6
        %h1 Sobre
        .sobre_empresa
          %p=@empresa.description
      .col-md-5.col-md-offset-1
        %h1 Especialidades
        .row.especialidades_empresa
          =raw(@especialidades)
          

- if !@portfolios.empty?
  .container-fluid
    .container
      .row
        .col-md-12.galeria
          %h1 portifólio
          .row.galeria-itens
            .row
              -@portfolios.each do |p|
                -if p.portfolio_img.file?
                  .col-md-3
                    =image_tag(p.portfolio_img.url(:medium))
                    %h3=p.title
                    %h4=p.created_at.strftime("%d/%m/%Y")

.container-fluid
  .container
    .row
      .col-md-12
        .row.opiniao
          %h1 Avaliações
        .row
          .col-sm-12
            =link_to "Avaliar esta empresa!", new_empresa_rate_path(@empresa), :class => "fancybox", "data-fancybox-type" => "iframe"
          
            ="Média da empresa: #{@media}"
          .mais_lidos
            -@empresa.enterprise_rates.all.order(:id => "desc").each do |c|
              .row.post_mais_lido
                .col-md-2
                  -if c.user.picture.file?
                    %a{:href => "#"}
                      =image_tag(c.user.picture.url(:small))
                  -else
                    =image_tag("user_missing_small.png")
                .col-md-10
                  %h2="#{c.user.name} #{c.user.last_name} (#{c.rate})"
                  %p=c.comment
 
-content_for :footer do
  :javascript
    $(document).ready(function() {
    	$(".fancybox").fancybox({
    		maxWidth	: 800,
    		maxHeight	: 600,
    		fitToView	: false,
    		width		: '70%',
    		height		: '70%',
    		autoSize	: false,
    		closeClick	: false,
    		openEffect	: 'none',
    		closeEffect	: 'none'
    	});
    });