!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Training Society
    
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "bootstrap.min.css"
    = stylesheet_link_tag "bootstrap-theme.min.css"
    = stylesheet_link_tag "style.css"
    = yield :head
    = stylesheet_link_tag "font-awesome.min.css"
    
  %body
    %section
      =render file: "layouts/_header.html.haml"
      .container-fluid.busca
        .container
          .row
            .col-md-12
              %form
                %input.col-md-4.campo_busca{:type => "text"}/
                %span.fa-stack.fa-lg.col-md-1
                  %i.fa.fa-square.fa-stack-2x.icon-search
                  %i.fa.fa-search.fa-stack-1x.fa-inverse
                %select.col-md-2.campo_drop
                  %option{:value => "treinamento"} TREINAMENTO
                  %option{:value => "treinamento"} TREINAMENTO
                  %option{:value => "treinamento"} TREINAMENTO
                  %option{:value => "treinamento"} TREINAMENTO
                %select.col-md-2.campo_drop
                  %option{:value => "treinamento"} EMPRESA
                  %option{:value => "treinamento"} TREINAMENTO
                  %option{:value => "treinamento"} TREINAMENTO
                  %option{:value => "treinamento"} TREINAMENTO
                %select.col-md-2.campo_drop
                  %option{:value => "treinamento"} ESTADO
                  %option{:value => "treinamento"} TREINAMENTO
                  %option{:value => "treinamento"} TREINAMENTO
                  %option{:value => "treinamento"} TREINAMENTO
      =yield
      = render :file => "layouts/_footer.html.haml"
      

    = javascript_include_tag "jQuery/jquery-2.2.3.min.js"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
    :javascript
      //document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    
