!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Training Society
    
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "bootstrap.min.css"
    = stylesheet_link_tag "bootstrap-theme.min.css"
    = stylesheet_link_tag "style.css"
    = yield :head
    = stylesheet_link_tag "font-awesome.min.css"
    = stylesheet_link_tag "fullcalendar.css"
    = stylesheet_link_tag "fullcalendar.print.css"
    = stylesheet_link_tag "jquery.fancybox.css"
    = stylesheet_link_tag "helpers/jquery.fancybox-thumbs.css"
    = stylesheet_link_tag "select2/select2.min.css"
    
  %body
    %section
      =render file: "layouts/_header.html.haml"
      =render file: "layouts/_search.html.haml"
      =yield
      = render :file => "layouts/_footer.html.haml"
      

    = javascript_include_tag "jQuery/jquery-2.2.3.min.js"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
    = javascript_include_tag "lib/moment.min.js"
    = javascript_include_tag "fullcalendar.min.js"
    = javascript_include_tag "locale-all.js"
    = javascript_include_tag "jquery.fancybox.js"
    = javascript_include_tag "jquery.fancybox-thumbs.js"
    = javascript_include_tag "select2/select2.full.min.js"
    
    
    
    =yield :footer
    :javascript
      //document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    
