!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Training Society
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "bootstrap.min.css"
    = stylesheet_link_tag "bootstrap-theme.min.css"
    = stylesheet_link_tag "style.css"
    = stylesheet_link_tag "jquery.fancybox.css"
    = stylesheet_link_tag "helpers/jquery.fancybox-thumbs.css"
    = yield :head
  %body
    = yield
    = javascript_include_tag "jQuery/jquery-2.2.3.min.js"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "bootstrap.js"
    = javascript_include_tag "jquery.fancybox.js"
    = javascript_include_tag "jquery.fancybox-thumbs.js"
    
    =yield :footer
